body{
    margin: 0;
}

ul{
    margin: 0;
    background-color: dodgerblue;
    padding: 1em;
    text-align: end;
}

li{
    list-style: none;
    display: inline-block;
    font-size: 1.5em;
    padding: 0.5em 0.5em;
    color: black;
    border: 1px solid dodgerblue;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    transition: 2s color, 2s background-color;
}

li:hover{
    color: white;
    background-color: black;
    cursor: default;
}

a{
    text-decoration: none;
    color: black;
    transition: 2s color;
}

a:hover{
    color: white;
}

@media screen and (max-width: 600px){
    li{
        display: block;
    }

    ul{
        text-align: left;
    }
}